# Luku theme example configuration file
#
# Colors available:
#
# DEFAULT
# BLACK
# RED
# GREEN
# YELLOW
# BLUE
# MAGENTA
# CYAN
# LIGHT_GRAY
# DARK_GRAY
# LIGHT_RED
# LIGHT_GREEN
# LIGHT_YELLOW
# LIGHT_BLUE
# LIGHT_MAGENTA
# LIGHT_CYAN
# WHITE
#
# Customizable parts:
#
# light_foregroundColorMachine
# light_backgroundColorMachine
# light_foregroundColorPath
# light_backgroundColorPath
# light_foregroundColorGit
# light_backgroundColorGit
# light_foregroundColorGitUncommitted
# light_backgroundColorGitUncommitted
# light_foregroundColorRoot
# dark_foregroundColorMachine
# dark_backgroundColorMachine
# dark_foregroundColorPath
# dark_backgroundColorPath
# dark_foregroundColorGit
# dark_backgroundColorGit
# dark_foregroundColorGitUncommitted
# dark_backgroundColorGitUncommitted
# dark_foregroundColorRoot
#
# Prefix "dark_" is used for parts of the dark palette
# Prefix "light_" is used for parts of the light palette
#
# Please use the following syntax:
# palette_part=$COLOR

light_foregroundColorMachine=$WHITE
light_backgroundColorMachine=$BLACK
light_foregroundColorPath=$WHITE
light_backgroundColorPath=$DARK_GRAY
light_foregroundColorGit=$BLACK
light_backgroundColorGit=$GREEN
light_foregroundColorGitUncommitted=$BLACK
light_backgroundColorGitUncommitted=$YELLOW
light_foregroundColorRoot=$RED

dark_foregroundColorMachine=$BLACK
dark_backgroundColorMachine=$WHITE
dark_foregroundColorPath=$BLACK
dark_backgroundColorPath=$LIGHT_GRAY
dark_foregroundColorGit=$BLACK
dark_backgroundColorGit=$GREEN
dark_foregroundColorGitUncommitted=$BLACK
dark_backgroundColorGitUncommitted=$YELLOW
dark_foregroundColorRoot=$RED

# Shorten the paths taking into account the value of $pathLength.
# If the value is "0" it shows the complete path.
# If the value is greater than "0" it writes a maximum of $pathLength
# letters in the path; the last folder it is always shown completely
# Example with "$pathLength" equals 2:
# "~/projects/cpp/foo/bar" becomes "~/pr/cp/fo/bar"
pathLength=0

# Value "dark" sets dark palette, any other value sets light palette
userTheme="dark"